/* Structure générale pour coller le footer en bas */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

/* Header commun */
header {
  background-color: #4B0082; /* violet foncé */
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

/* Footer commun */
footer {
  background-color: #4B0082;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: auto;
}

footer a {
  color: #fff;
}

footer a:hover {
  opacity: .7;
  text-decoration: underline;
  transition: .3s all;
}

/* Bouton CV */
.download-cv {
  background-color: white;
  color: #4B0082;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

/* Titres */
h2 {
  color: #4B0082;
  text-align: center;
}

.card h3 {
  color: #4B0082;
}

/* Main */
main {
  flex: 1;
  padding: 20px;
}

/* Boutons */
button {
  background-color: #4B0082;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #370062;
}

/* Style des cards */
.card {
  max-width: 750px;
  margin: 40px auto;
  background: linear-gradient(to bottom right, #ffffff, #f1e7ff);
  border-radius: 16px;
  border: 2px solid #4B0082;
  box-shadow: 0 6px 15px rgba(75, 0, 130, 0.15);
  padding: 25px 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(75, 0, 130, 0.25);
}


.card-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.card-text {
  flex: 1;
  min-width: 280px;
}

.card-image {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.card-image img,
.card-image video {
  max-width: 100%;
  max-height: 250px;
  border-radius: 8px;
  object-fit: contain;
}
